.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #fafafa;
    border-top: solid 1px #eee;
  }
  
  .footer p {
    margin-top: 30px;
  }
  a{
    text-decoration: none;
  }
  