<div class="container-fluid" style="padding:0px;">
     <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="container-fluid">
        <div class="row justify-content-start" style="margin-top:20vh;margin-left:0;padding:0px;">

            <div class="col-lg-3 card" style="float:left;margin-left:9vw;padding:0px;">
              <a href="register\" ><img  class="card-img-top" src="../../assets/pay.png" style="height:42vh;"alt="card image"></a>
              <div class="card-body bg-primary">
                <a href="register\" style="text-decoration:none;"><h2 class="card-title" style="color:white;text-align:center;">Pay bills</h2></a>
              </div>
            </div>

            <div class="col-lg-3 card" style="float:left;margin-left:10vw;padding:0px;">
              <a href="register\"><img class="card-img-top" src="../../assets/manage.png" alt="card image" style="height:42vh;"></a>
              <div class="card-body bg-primary">
                <a href="register\"style="text-decoration:none;"> <h2  class="card-title"  style="color:white;text-align:center;">Manage bills</h2></a>
              </div>
            </div>
        </div>

      </div>




</div>
<!--footer -->

</div>
<footer class="footer bg-dark" style="padding-left:44vw;">
  <div class="container ">
      <a style="text-align:center;" href="#"><span style="color:white;font-size:150%;">PayApp</span><i class="fas fa-trademark"></i></a>
     <div class="row">
       <div class="col-xm-2" style="float:left;margin-right:0.8vw">
       <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg"></i></a>
     </div>
     <div class="col-xm-2" style="float:left;margin-right:0.8vw">
      <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg"></i></a>
     </div>
     <div class="col-xm-2" style="float:left;margin-right:0.8vw">
      <a href="https://twitter.com/"><i class="fab fa-google-plus-g fa-lg"></i></a>
     </div>

     <div class="col-xm-2" style="float:left;margin-right:0.8vw">
      <a href="https://twitter.com/"><i class="fab fa-medium fa-lg"></i></a>
     </div>
    </div>
  </div>
</footer>
