<br><br><br><br><br><br>
<h1 style = "text-align: center; margin-top: -30px">Register New Account</h1>

<div class="container">
  <form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="First Name" name="firstName">
    </div>
    <div class="form-group">
      <label for="middleName">Middle Name:</label>
      <input type="text" [(ngModel)]="middleName" class="form-control" placeholder="Middle Name" name="middleName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="Last Name" name="lastName">
    </div>
    <div class="form-group">
      <label for="accountType">Account Type</label>
      <select [(ngModel)] = "accountType" class="form-control" name="accountType">
        <option value="Admin">Administrator</option>
        <option value="Customer">Customer</option>
        <option value="Elec. Bill Officer">Elec. Bill Officer</option>
        <option value="Tax Officer">Tax Officer</option>
        <option value="Police Officer">Police Officer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="address" name='address' class="form-control" type="text" placeholder="Address" required>
    </div>
    <div class="form-group">
      <label for="mobileNo">Mobile No:</label>
      <input [(ngModel)]="mobileNo" name='mobileNo' class="form-control" type="text" placeholder="Mobile No" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input [(ngModel)]="email" name='email' class="form-control" type="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="nic">NIC:</label>
      <input [(ngModel)]="nic" name='nic' class="form-control" type="text" placeholder="NIC" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <flash-messages></flash-messages>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>